 *{
    margin: 0;
    padding: 0;
    font-family: 'Sniglet', cursive;
 }
 header{
    background-image: url(image.jpg);
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;

 }
 ul{
    float: left;
    list-style-type: none;
    margin: 25px;
 }
 ul li{
    display: inline-block;
 }
 ul li a{
    text-decoration: none;
    color: black;
    border: 1px solid transparent;
    padding: 5px 20px;
    font-weight: bold;
    text-transform: uppercase;
    transition: 0.5s ease;
    border-radius: 25px;
    font-size: 25px;
}
ul li a:hover{
    background-color: red;
    color: black;
}
.logo img{
    float: right;
    width: 50px;
    height: auto;
    margin-top: 10px;
    margin-right: 10px;
}
.title{
    position: absolute;
    top: 50%;
    left: 25;
    transform: translate(-50%, -50%);
}
.title h1{
    border-top-right-radius: 50px;
    border-bottom-left-radius: 50px;
    color: red;
    border: 5px whitesmoke;
    border-bottom-style: dotted;
    border-right-style: red;
    border-bottom-color: red;
    border-top-style: dotted;
    border-left-style: dotted;
    font-size: 70px;
    padding: 20px;
    font-weight: bold;
    
}